.navbar-custom {
    background-color: #b00055;
    font-family: Arial, sans-serif;
    }

  .btn-custom {
    background-color: #b00055;
    color: #ffffff;
  }

  .nav-link-custom {
    color: white;
    text-align: center;
  }


  .navbar-toggler-custom {
    border-color: #b00055;
  }

  .navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.video-container {
  position: relative;
  width: 100%;
  padding-top: 28%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.whitespace {
  background-color: #b00055;
  border: #b00055;
  color: #b00055;
}

.title {
  background-color: #b00055;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 0;
}

.title a {
  text-decoration: none;
  color: white;
}

.slogan{
  background-color: #b00055;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.contact {
  text-align: right;
  background-color: #b00055;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #b00055;
  color: white;
  text-align: center;
  padding: 10px;
}